# ===========================
# CONFIG GERAL DO PROJETO
# ===========================

# Projeto no GCP
GCP_PROJECT_ID="painel-universidade"

# Dataset principal usado pelo BigQueryClient
BQ_DATASET="marts"

# Região do BigQuery e do Cloud Run
BQ_LOCATION="us-central1"

# TIMEZONE DO SISTEMA
TZ="America/Sao_Paulo"

# Porta do Flask (Cloud Run exige 8080)
PORT=8080

# Modo debug local (em produção fica False)
FLASK_DEBUG=False

# Ativar logs detalhados
ENABLE_LOGS=True
