{% extends "base.html" %}
{% block conteudo %}

<h2>Dashboard – Visão Geral</h2>

<div class="card-grid">

    <div class="card">
        <h3>Total de Chips</h3>
        <p>{{ total_chips }}</p>
    </div>

    <div class="card">
        <h3>Chips Ativos</h3>
        <p>{{ ativos }}</p>
    </div>

    <div class="card">
        <h3>Disparando</h3>
        <p>{{ disparando }}</p>
    </div>

    <div class="card">
        <h3>Banidos</h3>
        <p>{{ banidos }}</p>
    </div>

</div>

<h2>Lista Geral de Chips</h2>

<table>
    <thead>
        <tr>
            <th>Chip</th>
            <th>Número</th>
            <th>Status</th>
            <th>Operadora</th>
            <th>Modelo Aparelho</th>
            <th>IMEI</th>
            <th>Última Recarga</th>
        </tr>
    </thead>
    <tbody>
        {% for item in tabela %}
        <tr>
            <td>{{ item.sk_chip }}</td>
            <td>{{ item.numero }}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.operadora }}</td>
            <td>{{ item.modelo_atual }}</td>
            <td>{{ item.imei_atual }}</td>
            <td>{{ item.ultima_recarga_data }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
