name: Build and Deploy to Cloud Run

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v2
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        export_default_credentials: true

    - name: Configure Docker authentication
      run: |
        gcloud auth configure-docker gcr.io

    - name: Build and push Docker image
      run: |
        gcloud builds submit --tag gcr.io/${{ secrets.GCP_PROJECT_ID }}/painel-chips

    - name: Deploy to Cloud Run
      run: |
        gcloud run deploy painel-chips \
          --image gcr.io/${{ secrets.GCP_PROJECT_ID }}/painel-chips \
          --region us-central1 \
          --platform managed \
          --allow-unauthenticated
